@model Cart

@{
    ViewBag.Title = "Zamówienie";
    Layout = "_Layout";
}

<h2>Zamówienie zostało przyjęte, dziękujemy!</h2>
<h4>Zamówione zostały produkty:</h4>
@if (@Model.Products != null)
{
    <table class="table align-middle">
        <tr>
            <th>ID produktu</th>
            <th>Nazwa</th>
            <th>Cena</th>
        </tr>
        @foreach (var product in @Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price zł</td>
            </tr>
        }
        <tr class="table-info">
            <td colspan="3">Suma: @Model.Sum zł</td>
        </tr>

    </table>
}