@model List<Cart>

@{
    ViewBag.Title = "Zamówienia";
    Layout = "_Layout";
}

@if (Model.Count > 0)
{
    <h2>Twoje zamówienia</h2>
    <table class="table align-middle">
        @foreach (var cart in @Model)
        {
            <tr>
                <th colspan="3">Zamówienie nr. @cart.Id</th>
            </tr>
            @foreach (var product in @cart.Products)
            {
                <tr>
                    <td><img src="@product.ImageUrl"/></td>
                    <td>@product.Name</td>
                    <td>@product.Price zł</td>
                </tr>
            }
            <tr class="table-info">
                <td colspan="3">Suma: @cart.Sum zł</td>
            </tr>
            <tr style="height: 20px"></tr>
        }
    </table>
}
else
{
    <h2>Brak zamówień</h2>
}
<style>
</style>
